# You can find documentation for all the supported env variables at https://docs.immich.app/install/environment-variables

# The location where your uploaded files are stored
UPLOAD_LOCATION=./library

# Media storage backend. The default is "filesystem", which uses UPLOAD_LOCATION above.
# IMMICH_MEDIA_BACKEND=filesystem

# Amazon S3 using the default AWS credential chain (for example an ECS task or EC2 IAM role):
# IMMICH_MEDIA_BACKEND=s3
# IMMICH_S3_BUCKET=my-immich-library
# IMMICH_S3_REGION=us-east-1
# IMMICH_S3_KEY_PREFIX=immich
# IMMICH_S3_USE_DEFAULT_CREDENTIALS=true

# S3-compatible storage such as MinIO (do not use these example credentials in production):
# IMMICH_MEDIA_BACKEND=s3
# IMMICH_S3_BUCKET=immich
# IMMICH_S3_REGION=us-east-1
# IMMICH_S3_ENDPOINT=http://minio:9000
# IMMICH_S3_ACCESS_KEY_ID=minioadmin
# IMMICH_S3_SECRET_ACCESS_KEY=minioadmin
# IMMICH_S3_FORCE_PATH_STYLE=true
# IMMICH_S3_TLS=false

# The location where your database files are stored. Network shares are not supported for the database
DB_DATA_LOCATION=./postgres

# To set a timezone, uncomment the next line and change Etc/UTC to a TZ identifier from this list: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List
# TZ=Etc/UTC

# The Immich version to use. You can pin this to a specific version like "v2.1.0"
IMMICH_VERSION=v3

# Connection secret for postgres. You should change it to a random password
# Please use only the characters `A-Za-z0-9`, without special characters or spaces
DB_PASSWORD=postgres

# The values below this line do not need to be changed
###################################################################################
DB_USERNAME=postgres
DB_DATABASE_NAME=immich
